wsclient/src/main/resources/WSDLs/WsDFU-155.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
xmlns:tns="urn:hpccsystems:ws:wsdfu"
targetNamespace="urn:hpccsystems:ws:wsdfu">
<types>
<xsd:schema elementFormDefault="qualified"
targetNamespace="urn:hpccsystems:ws:wsdfu">
<xsd:complexType name="EspException">
<xsd:all>
<xsd:element name="Code" type="xsd:string"
minOccurs="0" />
<xsd:element name="Audience" type="xsd:string"
minOccurs="0" />
<xsd:element name="Source" type="xsd:string"
minOccurs="0" />
<xsd:element name="Message" type="xsd:string"
minOccurs="0" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfEspException">
<xsd:sequence>
<xsd:element name="Source" type="xsd:string"
minOccurs="0" />
<xsd:element name="Exception" type="tns:EspException"
minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" />
<xsd:element name="AddRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="dstname"
type="xsd:string" />
<xsd:element minOccurs="0" name="xmlmap"
type="xsd:base64Binary" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="AddResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="AddRemoteRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="dstname"
type="xsd:string" />
<xsd:element minOccurs="0" name="srcname"
type="xsd:string" />
<xsd:element minOccurs="0" name="srcdali"
type="xsd:string" />
<xsd:element minOccurs="0" name="srcusername"
type="xsd:string" />
<xsd:element minOccurs="0" name="srcpassword"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="AddRemoteResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="AddtoSuperfileRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Superfile"
type="xsd:string" />
<xsd:element minOccurs="0" name="Subfiles"
type="xsd:string" />
<xsd:element minOccurs="0" name="names"
type="tns:EspStringArray" />
<xsd:element minOccurs="0" default="false"
name="ExistingFile" type="xsd:boolean" />
<xsd:element minOccurs="0" name="BackToPage"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="EspStringArray">
<xsd:sequence>
<xsd:element name="Item" type="xsd:string"
minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="AddtoSuperfileResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="Subfiles"
type="xsd:string" />
<xsd:element minOccurs="0" name="BackToPage"
type="xsd:string" />
<xsd:element minOccurs="0" name="SubfileNames">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SubfileName" type="xsd:string"
minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUArrayActionRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Type"
type="tns:DFUArrayActions" />
<xsd:element minOccurs="0" name="NoDelete"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="BackToPage"
type="xsd:string" />
<xsd:element minOccurs="0" name="LogicalFiles"
type="tns:EspStringArray" />
<xsd:element minOccurs="0" default="false"
name="removeFromSuperfiles" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="removeRecursively" type="xsd:boolean" />
<xsd:element minOccurs="0" default="0" name="Protect"
type="tns:DFUChangeProtection" />
<xsd:element minOccurs="0" default="0" name="Restrict"
type="tns:DFUChangeRestriction" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="DFUArrayActions">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Delete" />
<xsd:enumeration value="Add To Superfile" />
<xsd:enumeration value="Change Protection" />
<xsd:enumeration value="Change Restriction" />
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DFUChangeProtection">
<xsd:annotation>
<xsd:appinfo>
<item name="0" description="No Change" />
<item name="1" description="Protect" />
<item name="2" description="Unprotect" />
<item name="3" description="UnprotectAll" />
</xsd:appinfo>
</xsd:annotation>
<xsd:restriction base="xsd:int">
<xsd:enumeration value="0" />
<xsd:enumeration value="1" />
<xsd:enumeration value="2" />
<xsd:enumeration value="3" />
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DFUChangeRestriction">
<xsd:annotation>
<xsd:appinfo>
<item name="0" description="No Change" />
<item name="1" description="Restrict" />
<item name="2" description="Unrestricted" />
</xsd:appinfo>
</xsd:annotation>
<xsd:restriction base="xsd:int">
<xsd:enumeration value="0" />
<xsd:enumeration value="1" />
<xsd:enumeration value="2" />
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="DFUArrayActionResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="BackToPage"
type="xsd:string" />
<xsd:element minOccurs="0" name="RedirectTo"
type="xsd:string" />
<xsd:element minOccurs="0" name="ActionResults"
type="tns:ArrayOfDFUActionInfo" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFUActionInfo">
<xsd:all>
<xsd:element minOccurs="0" name="FileName"
type="xsd:string" />
<xsd:element minOccurs="0" name="NodeGroup"
type="xsd:string" />
<xsd:element minOccurs="0" name="ActionResult"
type="xsd:string" />
<xsd:element minOccurs="0" name="Failed"
type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUActionInfo">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUActionInfo" type="tns:DFUActionInfo" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DFUBrowseDataRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="ShowColumns"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="SchemaOnly" type="xsd:boolean" />
<xsd:element minOccurs="0" name="StartForGoback"
type="xsd:long" />
<xsd:element minOccurs="0" name="CountForGoback"
type="xsd:int" />
<xsd:element minOccurs="0" name="ChooseFile"
type="xsd:int" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterType"
type="xsd:string" />
<xsd:element minOccurs="0" name="ParentName"
type="xsd:string" />
<xsd:element minOccurs="0" name="Start"
type="xsd:long" />
<xsd:element minOccurs="0" name="Count" type="xsd:int" />
<xsd:element minOccurs="0"
name="DisableUppercaseTranslation" type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUBrowseDataResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterForGoBack"
type="xsd:string" />
<xsd:element minOccurs="0" name="ColumnsHidden">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="ColumnHidden" type="tns:DFUDataColumn" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ColumnCount"
type="xsd:int" />
<xsd:element minOccurs="0" name="StartForGoback"
type="xsd:long" />
<xsd:element minOccurs="0" name="CountForGoback"
type="xsd:int" />
<xsd:element minOccurs="0" name="ChooseFile"
type="xsd:int" />
<xsd:element minOccurs="0" default="false"
name="SchemaOnly" type="xsd:boolean" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterType"
type="xsd:string" />
<xsd:element minOccurs="0" name="ParentName"
type="xsd:string" />
<xsd:element minOccurs="0" name="Start"
type="xsd:long" />
<xsd:element minOccurs="0" name="Count"
type="xsd:long" />
<xsd:element minOccurs="0" name="PageSize"
type="xsd:long" />
<xsd:element minOccurs="0" name="Total"
type="xsd:long" />
<xsd:element minOccurs="0" name="Result"
type="xsd:string" />
<xsd:element minOccurs="0" name="MsgToDisplay"
type="xsd:string" />
<xsd:element minOccurs="0"
name="DisableUppercaseTranslation" type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFUDataColumn">
<xsd:all>
<xsd:element minOccurs="0" name="ColumnID"
type="xsd:int" />
<xsd:element minOccurs="0" name="ColumnLabel"
type="xsd:string" />
<xsd:element minOccurs="0" name="ColumnType"
type="xsd:string" />
<xsd:element minOccurs="0" name="ColumnValue"
type="xsd:string" />
<xsd:element minOccurs="0" name="ColumnSize"
type="xsd:int" />
<xsd:element minOccurs="0" name="MaxSize"
type="xsd:int" />
<xsd:element minOccurs="0" name="ColumnEclType"
type="xsd:string" />
<xsd:element minOccurs="0" name="ColumnRawSize"
type="xsd:int" />
<xsd:element minOccurs="0" name="IsNaturalColumn"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="IsKeyedColumn"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="DataColumns"
type="tns:ArrayOfDFUDataColumn" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUDataColumn">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUDataColumn" type="tns:DFUDataColumn" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DFUDefFileRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Format"
type="tns:DFUDefFileFormat" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:simpleType name="DFUDefFileFormat">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="xml" />
<xsd:enumeration value="def" />
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="DFUDefFileResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="defFile"
type="xsd:base64Binary" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFileAccessRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="RequestBase"
type="tns:DFUFileAccessRequestBase" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFUFileAccessRequestBase">
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="JobId"
type="xsd:string" />
<xsd:element minOccurs="0" default="60"
name="ExpirySeconds" type="xsd:int" />
<xsd:element minOccurs="0" name="AccessRole"
type="tns:FileAccessRole" />
<xsd:element minOccurs="0" name="AccessType"
type="tns:SecAccessType" />
<xsd:element minOccurs="0" default="false"
name="ReturnJsonTypeInfo" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="ReturnBinTypeInfo" type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
<xsd:simpleType name="FileAccessRole">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Token" />
<xsd:enumeration value="Engine" />
<xsd:enumeration value="External" />
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SecAccessType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="None" />
<xsd:enumeration value="Access" />
<xsd:enumeration value="Read" />
<xsd:enumeration value="Write" />
<xsd:enumeration value="Full" />
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="DFUFileAccessResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="AccessInfo"
type="tns:DFUFileAccessInfo" />
<xsd:element minOccurs="0" name="Type"
type="tns:DFUFileType" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFUFileAccessInfo">
<xsd:all>
<xsd:element minOccurs="0" name="MetaInfoBlob"
type="xsd:string" />
<xsd:element minOccurs="0" name="ExpiryTime"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumParts"
type="xsd:int" />
<xsd:element minOccurs="0" name="FileLocations"
type="tns:ArrayOfDFUPartLocation" />
<xsd:element minOccurs="0" name="FileParts"
type="tns:ArrayOfDFUFilePart" />
<xsd:element minOccurs="0" name="RecordTypeInfoJson"
type="xsd:string" />
<xsd:element minOccurs="0" name="fileAccessPort"
type="xsd:int" />
<xsd:element minOccurs="0" name="fileAccessSSL"
type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUPartLocation">
<xsd:all>
<xsd:element minOccurs="0" name="LocationIndex"
type="xsd:int" />
<xsd:element minOccurs="0" name="Host"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUFilePart">
<xsd:all>
<xsd:element minOccurs="0" name="PartIndex"
type="xsd:int" />
<xsd:element minOccurs="0" name="Copies"
type="tns:ArrayOfDFUFileCopy" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUFileCopy">
<xsd:all>
<xsd:element minOccurs="0" name="CopyIndex"
type="xsd:int" />
<xsd:element minOccurs="0" name="LocationIndex"
type="xsd:int" />
<xsd:element minOccurs="0" name="Path"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUFileCopy">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUFileCopy" type="tns:DFUFileCopy" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUFilePart">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUFilePart" type="tns:DFUFilePart" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUPartLocation">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUPartLocation" type="tns:DFUPartLocation" />
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="DFUFileType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Flat" />
<xsd:enumeration value="Index" />
<xsd:enumeration value="Xml" />
<xsd:enumeration value="Csv" />
<xsd:enumeration value="Json" />
<xsd:enumeration value="Unset" />
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="DFUFileAccessV2Request">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="RequestId"
type="xsd:string" />
<xsd:element minOccurs="0" default="60"
name="ExpirySeconds" type="xsd:int" />
<xsd:element minOccurs="0" default="false"
name="ReturnTextResponse" type="xsd:boolean" />
<xsd:element minOccurs="0" name="SessionId"
type="xsd:long" />
<xsd:element minOccurs="0" default="300000"
name="LockTimeoutMs" type="xsd:int" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFileCreateRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="ECLRecordDefinition"
type="xsd:string" />
<xsd:element minOccurs="0" name="PartLocations"
type="tns:EspStringArray" />
<xsd:element minOccurs="0" name="RequestBase"
type="tns:DFUFileAccessRequestBase" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFileCreateResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="FileId"
type="xsd:string" />
<xsd:element minOccurs="0" name="Warning"
type="xsd:string" />
<xsd:element minOccurs="0" name="AccessInfo"
type="tns:DFUFileAccessInfo" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFileCreateV2Request">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="Type"
type="tns:DFUFileType" />
<xsd:element minOccurs="0" name="ECLRecordDefinition"
type="xsd:string" />
<xsd:element minOccurs="0" name="RequestId"
type="xsd:string" />
<xsd:element minOccurs="0" default="60"
name="ExpirySeconds" type="xsd:int" />
<xsd:element minOccurs="0" default="false"
name="ReturnTextResponse" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="Compressed" type="xsd:boolean" />
<xsd:element minOccurs="0" name="SessionId"
type="xsd:long" />
<xsd:element minOccurs="0" default="300000"
name="LockTimeoutMs" type="xsd:int" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFilePublishRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="FileId"
type="xsd:string" />
<xsd:element minOccurs="0" name="Overwrite"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="FileDescriptorBlob"
type="xsd:base64Binary" />
<xsd:element minOccurs="0" name="SessionId"
type="xsd:long" />
<xsd:element minOccurs="0" default="300000"
name="LockTimeoutMs" type="xsd:int" />
<xsd:element minOccurs="0" name="ECLRecordDefinition"
type="xsd:string" />
<xsd:element minOccurs="0" name="RecordCount"
type="xsd:long" />
<xsd:element minOccurs="0" name="FileSize"
type="xsd:long" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFilePublishResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFileViewRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Scope"
type="xsd:string" />
<xsd:element minOccurs="0" name="IncludeSuperOwner"
type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUFileViewResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="Scope"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumFiles"
type="xsd:int" />
<xsd:element minOccurs="0" name="DFULogicalFiles"
type="tns:ArrayOfDFULogicalFile" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFULogicalFile">
<xsd:all>
<xsd:element minOccurs="0" name="Prefix"
type="xsd:string" />
<xsd:element minOccurs="0" name="NodeGroup"
type="xsd:string" />
<xsd:element minOccurs="0" name="Directory"
type="xsd:string" />
<xsd:element minOccurs="0" name="Description"
type="xsd:string" />
<xsd:element minOccurs="0" name="Parts"
type="xsd:string" />
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Owner"
type="xsd:string" />
<xsd:element minOccurs="0" name="Totalsize"
type="xsd:string" />
<xsd:element minOccurs="0" name="RecordCount"
type="xsd:string" />
<xsd:element minOccurs="0" name="Modified"
type="xsd:string" />
<xsd:element minOccurs="0" name="LongSize"
type="xsd:string" />
<xsd:element minOccurs="0" name="LongRecordCount"
type="xsd:string" />
<xsd:element minOccurs="0" name="isSuperfile"
type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="isDirectory" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="Replicate" type="xsd:boolean" />
<xsd:element minOccurs="0" name="IntSize"
type="xsd:long" />
<xsd:element minOccurs="0" name="IntRecordCount"
type="xsd:long" />
<xsd:element minOccurs="0" name="FromRoxieCluster"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="BrowseData"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="IsCompressed"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="ContentType"
type="xsd:string" />
<xsd:element minOccurs="0" name="CompressedFileSize"
type="xsd:long" />
<xsd:element minOccurs="0" name="SuperOwners"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="Persistent" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="IsProtected" type="xsd:boolean" />
<xsd:element minOccurs="0" name="KeyType"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumOfSubfiles"
type="xsd:int" />
<xsd:element minOccurs="0" name="Accessed"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFULogicalFile">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFULogicalFile" type="tns:DFULogicalFile" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DFUGetDataColumnsRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="OpenLogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="ShowColumns"
type="xsd:string" />
<xsd:element minOccurs="0" name="ChooseFile"
type="xsd:int" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterType"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="EndIndex"
type="xsd:long" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUGetDataColumnsResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="EndIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns1"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns2"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns3"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns4"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns5"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns6"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns7"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns8"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns9"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns10" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns11" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns12" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns13" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns14" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns15" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns16" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns17" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns18" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns19" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns20" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns1" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns2" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns3" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns4" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns5" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns6" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns7" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns8" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns9" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns10" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns11" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns12" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns13" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns14" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns15" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns16" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns17" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns18" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns19" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns20" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="RowCount"
type="xsd:long" />
<xsd:element minOccurs="0" name="ShowColumns"
type="xsd:string" />
<xsd:element minOccurs="0" name="ChooseFile"
type="xsd:int" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterType"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUGetFileMetaDataRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="LogicalFileName"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterName"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="IncludeXmlSchema" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="AddHeaderInXmlSchema" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="IncludeXmlXPathSchema" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="AddHeaderInXmlXPathSchema" type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUGetFileMetaDataResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="TotalColumnCount"
type="xsd:int" />
<xsd:element minOccurs="0" name="KeyedColumnCount"
type="xsd:int" />
<xsd:element minOccurs="0" name="DataColumns"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="XmlSchema"
type="xsd:string" />
<xsd:element minOccurs="0" name="XmlXPathSchema"
type="xsd:string" />
<xsd:element minOccurs="0" name="TotalResultRows"
type="xsd:long" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUInfoRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="UpdateDescription" type="xsd:boolean" />
<xsd:element minOccurs="0" name="QuerySet"
type="xsd:string" />
<xsd:element minOccurs="0" name="Query"
type="xsd:string" />
<xsd:element minOccurs="0" name="FileDesc"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="IncludeJsonTypeInfo" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="IncludeBinTypeInfo" type="xsd:boolean" />
<xsd:element minOccurs="0" default="0" name="Protect"
type="tns:DFUChangeProtection" />
<xsd:element minOccurs="0" default="0" name="Restrict"
type="tns:DFUChangeRestriction" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUInfoResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="FileDetail"
type="tns:DFUFileDetail" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFUFileDetail">
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Filename"
type="xsd:string" />
<xsd:element minOccurs="0" name="Prefix"
type="xsd:string" />
<xsd:element minOccurs="0" name="NodeGroup"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumParts"
type="xsd:int" />
<xsd:element minOccurs="0" name="Description"
type="xsd:string" />
<xsd:element minOccurs="0" name="Dir" type="xsd:string" />
<xsd:element minOccurs="0" name="PathMask"
type="xsd:string" />
<xsd:element minOccurs="0" name="Filesize"
type="xsd:string" />
<xsd:element minOccurs="0" name="FileSizeInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="RecordSize"
type="xsd:string" />
<xsd:element minOccurs="0" name="RecordCount"
type="xsd:string" />
<xsd:element minOccurs="0" name="RecordSizeInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="RecordCountInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="Wuid"
type="xsd:string" />
<xsd:element minOccurs="0" name="Owner"
type="xsd:string" />
<xsd:element minOccurs="0" name="JobName"
type="xsd:string" />
<xsd:element minOccurs="0" name="Persistent"
type="xsd:string" />
<xsd:element minOccurs="0" name="Format"
type="xsd:string" />
<xsd:element minOccurs="0" name="MaxRecordSize"
type="xsd:string" />
<xsd:element minOccurs="0" name="CsvSeparate"
type="xsd:string" />
<xsd:element minOccurs="0" name="CsvQuote"
type="xsd:string" />
<xsd:element minOccurs="0" name="CsvTerminate"
type="xsd:string" />
<xsd:element minOccurs="0" name="CsvEscape"
type="xsd:string" />
<xsd:element minOccurs="0" name="Modified"
type="xsd:string" />
<xsd:element minOccurs="0" name="Ecl" type="xsd:string" />
<xsd:element minOccurs="0" name="Stat"
type="tns:DFUFileStat" />
<xsd:element minOccurs="0"
name="DFUFilePartsOnClusters"
type="tns:ArrayOfDFUFilePartsOnCluster" />
<xsd:element minOccurs="0" default="false"
name="isSuperfile" type="xsd:boolean" />
<xsd:element minOccurs="0" default="true"
name="ShowFileContent" type="xsd:boolean" />
<xsd:element minOccurs="0" name="subfiles"
type="tns:EspStringArray" />
<xsd:element minOccurs="0" name="Superfiles"
type="tns:ArrayOfDFULogicalFile" />
<xsd:element minOccurs="0" name="ProtectList"
type="tns:ArrayOfDFUFileProtect" />
<xsd:element minOccurs="0" name="FromRoxieCluster"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="Graphs">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ECLGraph" type="xsd:string"
minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="UserPermission"
type="xsd:string" />
<xsd:element minOccurs="0" name="ContentType"
type="xsd:string" />
<xsd:element minOccurs="0" name="CompressedFileSize"
type="xsd:long" />
<xsd:element minOccurs="0" name="PercentCompressed"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="IsCompressed" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="IsRestricted" type="xsd:boolean" />
<xsd:element minOccurs="0" default="true"
name="BrowseData" type="xsd:boolean" />
<xsd:element minOccurs="0" name="jsonInfo"
type="xsd:string" />
<xsd:element minOccurs="0" name="binInfo"
type="xsd:base64Binary" />
<xsd:element minOccurs="0" name="PackageID"
type="xsd:string" />
<xsd:element minOccurs="0" name="Partition"
type="tns:DFUFilePartition" />
<xsd:element minOccurs="0" name="Blooms"
type="tns:ArrayOfDFUFileBloom" />
<xsd:element minOccurs="0" name="ExpireDays"
type="xsd:int" />
<xsd:element minOccurs="0" name="KeyType"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUFileStat">
<xsd:all>
<xsd:element minOccurs="0" name="MinSkew"
type="xsd:string" />
<xsd:element minOccurs="0" name="MaxSkew"
type="xsd:string" />
<xsd:element minOccurs="0" name="MinSkewInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="MaxSkewInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="MinSkewPart"
type="xsd:long" />
<xsd:element minOccurs="0" name="MaxSkewPart"
type="xsd:long" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUFilePartsOnCluster">
<xsd:all>
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="BaseDir"
type="xsd:string" />
<xsd:element minOccurs="0" name="ReplicateDir"
type="xsd:string" />
<xsd:element minOccurs="0" name="Replicate"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="CanReplicate"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="DFUFileParts"
type="tns:ArrayOfDFUPart" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUPart">
<xsd:all>
<xsd:element minOccurs="0" name="Id" type="xsd:int" />
<xsd:element minOccurs="0" name="Copy" type="xsd:int" />
<xsd:element minOccurs="0" name="Ip" type="xsd:string" />
<xsd:element minOccurs="0" name="Partsize"
type="xsd:string" />
<xsd:element minOccurs="0" name="PartSizeInt64"
type="xsd:long" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUPart">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUPart" type="tns:DFUPart" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DFUFileProtect">
<xsd:all>
<xsd:element minOccurs="0" name="Owner"
type="xsd:string" />
<xsd:element minOccurs="0" name="Modified"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUFilePartition">
<xsd:all>
<xsd:element minOccurs="0" name="FieldMask"
type="xsd:long" />
<xsd:element minOccurs="0" name="FieldNames"
type="tns:EspStringArray" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="DFUFileBloom">
<xsd:all>
<xsd:element minOccurs="0" name="FieldMask"
type="xsd:long" />
<xsd:element minOccurs="0" name="FieldNames"
type="tns:EspStringArray" />
<xsd:element minOccurs="0" name="Limit" type="xsd:long" />
<xsd:element minOccurs="0" name="Probability"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUFileBloom">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUFileBloom" type="tns:DFUFileBloom" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUFilePartsOnCluster">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUFilePartsOnCluster" type="tns:DFUFilePartsOnCluster" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUFileProtect">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUFileProtect" type="tns:DFUFileProtect" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DFUQueryRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Prefix"
type="xsd:string" />
<xsd:element minOccurs="0" name="NodeGroup"
type="xsd:string" />
<xsd:element minOccurs="0" name="ContentType"
type="xsd:string" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="Owner"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="EndDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="FileType"
type="xsd:string" />
<xsd:element minOccurs="0" default="-1"
name="FileSizeFrom" type="xsd:long" />
<xsd:element minOccurs="0" default="-1"
name="FileSizeTo" type="xsd:long" />
<xsd:element minOccurs="0" default="-1" name="FirstN"
type="xsd:int" />
<xsd:element minOccurs="0" name="PageSize"
type="xsd:int" />
<xsd:element minOccurs="0" name="PageStartFrom"
type="xsd:int" />
<xsd:element minOccurs="0" name="Sortby"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="Descending" type="xsd:boolean" />
<xsd:element minOccurs="0" default="false"
name="OneLevelDirFileReturn" type="xsd:boolean" />
<xsd:element minOccurs="0" name="CacheHint"
type="xsd:long" />
<xsd:element minOccurs="0" name="MaxNumberOfFiles"
type="xsd:int" />
<xsd:element minOccurs="0" name="IncludeSuperOwner"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="StartAccessedTime"
type="xsd:string" />
<xsd:element minOccurs="0" name="EndAccessedTime"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUQueryResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="DFULogicalFiles"
type="tns:ArrayOfDFULogicalFile" />
<xsd:element minOccurs="0" name="Prefix"
type="xsd:string" />
<xsd:element minOccurs="0" name="NodeGroup"
type="xsd:string" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="Description"
type="xsd:string" />
<xsd:element minOccurs="0" name="Owner"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="EndDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="FileType"
type="xsd:string" />
<xsd:element minOccurs="0" default="-1"
name="FileSizeFrom" type="xsd:long" />
<xsd:element minOccurs="0" default="-1"
name="FileSizeTo" type="xsd:long" />
<xsd:element minOccurs="0" default="-1" name="FirstN"
type="xsd:int" />
<xsd:element minOccurs="0" default="20"
name="PageSize" type="xsd:int" />
<xsd:element minOccurs="0" default="1"
name="PageStartFrom" type="xsd:long" />
<xsd:element minOccurs="0" default="-1"
name="LastPageFrom" type="xsd:long" />
<xsd:element minOccurs="0" name="PageEndAt"
type="xsd:long" />
<xsd:element minOccurs="0" default="-1"
name="PrevPageFrom" type="xsd:long" />
<xsd:element minOccurs="0" default="-1"
name="NextPageFrom" type="xsd:long" />
<xsd:element minOccurs="0" name="NumFiles"
type="xsd:long" />
<xsd:element minOccurs="0" name="Sortby"
type="xsd:string" />
<xsd:element minOccurs="0" default="false"
name="Descending" type="xsd:boolean" />
<xsd:element minOccurs="0" name="BasicQuery"
type="xsd:string" />
<xsd:element minOccurs="0" name="ParametersForPaging"
type="xsd:string" />
<xsd:element minOccurs="0" name="Filters"
type="xsd:string" />
<xsd:element minOccurs="0" name="CacheHint"
type="xsd:long" />
<xsd:element minOccurs="0" name="IsSubsetOfFiles"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="Warning"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFURecordTypeInfoRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" default="true"
name="IncludeJsonTypeInfo" type="xsd:boolean" />
<xsd:element minOccurs="0" default="true"
name="IncludeBinTypeInfo" type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFURecordTypeInfoResponse">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="jsonInfo"
type="xsd:string" />
<xsd:element minOccurs="0" name="binInfo"
type="xsd:base64Binary" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUSearchRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="ShowExample"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUSearchResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="ShowExample"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterNames">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ClusterName" type="xsd:string"
minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="FileTypes">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="FileType" type="xsd:string"
minOccurs="0" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUSearchDataRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterType"
type="xsd:string" />
<xsd:element minOccurs="0" name="OpenLogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="ShowColumns"
type="xsd:string" />
<xsd:element minOccurs="0" name="ChooseFile"
type="xsd:int" />
<xsd:element minOccurs="0" name="StartIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="EndIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="ParentName"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartForGoback"
type="xsd:long" />
<xsd:element minOccurs="0" name="CountForGoback"
type="xsd:int" />
<xsd:element minOccurs="0" name="Start"
type="xsd:long" />
<xsd:element minOccurs="0" name="Count" type="xsd:int" />
<xsd:element minOccurs="0" name="File"
type="xsd:string" />
<xsd:element minOccurs="0" name="Key"
type="xsd:string" />
<xsd:element minOccurs="0" default="true"
name="SchemaOnly" type="xsd:boolean" />
<xsd:element minOccurs="0" default="true"
name="RoxieSelections" type="xsd:boolean" />
<xsd:element minOccurs="0"
name="DisableUppercaseTranslation" type="xsd:boolean" />
<xsd:element minOccurs="0" name="SelectedKey"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUSearchDataResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="OpenLogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="LogicalName"
type="xsd:string" />
<xsd:element minOccurs="0" name="ParentName"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="EndIndex"
type="xsd:long" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns1"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns2"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns3"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns4"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns5"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns6"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns7"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns8"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="DFUDataKeyedColumns9"
type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns10" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns11" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns12" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns13" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns14" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns15" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns16" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns17" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns18" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns19" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataKeyedColumns20" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns1" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns2" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns3" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns4" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns5" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns6" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns7" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns8" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns9" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns10" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns11" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns12" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns13" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns14" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns15" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns16" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns17" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns18" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns19" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0"
name="DFUDataNonKeyedColumns20" type="tns:ArrayOfDFUDataColumn" />
<xsd:element minOccurs="0" name="RowCount"
type="xsd:long" />
<xsd:element minOccurs="0" name="ShowColumns"
type="xsd:string" />
<xsd:element minOccurs="0" name="ChooseFile"
type="xsd:int" />
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="FilterForGoBack"
type="xsd:string" />
<xsd:element minOccurs="0" name="ColumnsHidden">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="ColumnHidden" type="tns:DFUDataColumn" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element minOccurs="0" name="ColumnCount"
type="xsd:int" />
<xsd:element minOccurs="0" name="StartForGoback"
type="xsd:long" />
<xsd:element minOccurs="0" name="CountForGoback"
type="xsd:int" />
<xsd:element minOccurs="0" name="Start"
type="xsd:long" />
<xsd:element minOccurs="0" name="Count"
type="xsd:long" />
<xsd:element minOccurs="0" name="PageSize"
type="xsd:long" />
<xsd:element minOccurs="0" name="Total"
type="xsd:long" />
<xsd:element minOccurs="0" name="Result"
type="xsd:string" />
<xsd:element minOccurs="0" name="MsgToDisplay"
type="xsd:string" />
<xsd:element minOccurs="0" name="Cluster"
type="xsd:string" />
<xsd:element minOccurs="0" name="ClusterType"
type="xsd:string" />
<xsd:element minOccurs="0" name="File"
type="xsd:string" />
<xsd:element minOccurs="0" name="Key"
type="xsd:string" />
<xsd:element minOccurs="0" name="SchemaOnly"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="RoxieSelections"
type="xsd:boolean" />
<xsd:element minOccurs="0"
name="DisableUppercaseTranslation" type="xsd:boolean" />
<xsd:element minOccurs="0"
name="AutoUppercaseTranslation" type="xsd:boolean" />
<xsd:element minOccurs="0" name="SelectedKey"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUSpaceRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="CountBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="ScopeUnder"
type="xsd:string" />
<xsd:element minOccurs="0" name="OwnerUnder"
type="xsd:string" />
<xsd:element minOccurs="0" name="Interval"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="EndDate"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="DFUSpaceResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="CountBy"
type="xsd:string" />
<xsd:element minOccurs="0" name="ScopeUnder"
type="xsd:string" />
<xsd:element minOccurs="0" name="OwnerUnder"
type="xsd:string" />
<xsd:element minOccurs="0" name="Interval"
type="xsd:string" />
<xsd:element minOccurs="0" name="StartDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="EndDate"
type="xsd:string" />
<xsd:element minOccurs="0" name="DFUSpaceItems"
type="tns:ArrayOfDFUSpaceItem" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DFUSpaceItem">
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumOfFiles"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumOfFilesUnknown"
type="xsd:string" />
<xsd:element minOccurs="0" name="TotalSize"
type="xsd:string" />
<xsd:element minOccurs="0" name="LargestFile"
type="xsd:string" />
<xsd:element minOccurs="0" name="LargestSize"
type="xsd:string" />
<xsd:element minOccurs="0" name="SmallestFile"
type="xsd:string" />
<xsd:element minOccurs="0" name="SmallestSize"
type="xsd:string" />
<xsd:element minOccurs="0" name="NumOfFilesInt64"
type="xsd:long" />
<xsd:element minOccurs="0"
name="NumOfFilesUnknownInt64" type="xsd:long" />
<xsd:element minOccurs="0" name="TotalSizeInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="LargestSizeInt64"
type="xsd:long" />
<xsd:element minOccurs="0" name="SmallestSizeInt64"
type="xsd:long" />
</xsd:all>
</xsd:complexType>
<xsd:complexType name="ArrayOfDFUSpaceItem">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="DFUSpaceItem" type="tns:DFUSpaceItem" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="EclRecordTypeInfoRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Ecl"
type="xsd:string" />
<xsd:element minOccurs="0" default="true"
name="IncludeJsonTypeInfo" type="xsd:boolean" />
<xsd:element minOccurs="0" default="true"
name="IncludeBinTypeInfo" type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="EclRecordTypeInfoResponse">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="jsonInfo"
type="xsd:string" />
<xsd:element minOccurs="0" name="binInfo"
type="xsd:base64Binary" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="EraseHistoryRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="EraseHistoryResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="History">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="Origin" type="tns:History" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="History">
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
<xsd:element minOccurs="0" name="Operation"
type="xsd:string" />
<xsd:element minOccurs="0" name="Timestamp"
type="xsd:string" />
<xsd:element minOccurs="0" name="IP" type="xsd:string" />
<xsd:element minOccurs="0" name="Path"
type="xsd:string" />
<xsd:element minOccurs="0" name="Owner"
type="xsd:string" />
<xsd:element minOccurs="0" name="Workunit"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
<xsd:element name="ListHistoryRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="Name"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="ListHistoryResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="History">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="unbounded"
name="Origin" type="tns:History" />
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="WsDfuPingRequest">
<xsd:complexType>
<xsd:all />
</xsd:complexType>
</xsd:element>
<xsd:element name="WsDfuPingResponse">
<xsd:complexType>
<xsd:all />
</xsd:complexType>
</xsd:element>
<xsd:element name="SavexmlRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="name"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="SavexmlResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="xmlmap"
type="xsd:base64Binary" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="SuperfileActionRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="action"
type="xsd:string" />
<xsd:element minOccurs="0" name="superfile"
type="xsd:string" />
<xsd:element minOccurs="0" name="subfiles"
type="tns:EspStringArray" />
<xsd:element minOccurs="0" name="before"
type="xsd:string" />
<xsd:element minOccurs="0" name="delete"
type="xsd:boolean" />
<xsd:element minOccurs="0" name="removeSuperfile"
type="xsd:boolean" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="SuperfileActionResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="superfile"
type="xsd:string" />
<xsd:element minOccurs="0" name="retcode"
type="xsd:int" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="SuperfileListRequest">
<xsd:complexType>
<xsd:all>
<xsd:element minOccurs="0" name="superfile"
type="xsd:string" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="SuperfileListResponse">
<xsd:complexType>
<xsd:all>
<xsd:element name="Exceptions"
type="tns:ArrayOfEspException" minOccurs="0" maxOccurs="1" />
<xsd:element minOccurs="0" name="superfile"
type="xsd:string" />
<xsd:element minOccurs="0" name="subfiles"
type="tns:EspStringArray" />
</xsd:all>
</xsd:complexType>
</xsd:element>
<xsd:element name="string" nillable="true"
type="xsd:string" />
</xsd:schema>
</types>
<message name="AddSoapIn">
<part name="parameters" element="tns:AddRequest" />
</message>
<message name="AddSoapOut">
<part name="parameters" element="tns:AddResponse" />
</message>
<message name="AddRemoteSoapIn">
<part name="parameters" element="tns:AddRemoteRequest" />
</message>
<message name="AddRemoteSoapOut">
<part name="parameters" element="tns:AddRemoteResponse" />
</message>
<message name="AddtoSuperfileSoapIn">
<part name="parameters" element="tns:AddtoSuperfileRequest" />
</message>
<message name="AddtoSuperfileSoapOut">
<part name="parameters" element="tns:AddtoSuperfileResponse" />
</message>
<message name="DFUArrayActionSoapIn">
<part name="parameters" element="tns:DFUArrayActionRequest" />
</message>
<message name="DFUArrayActionSoapOut">
<part name="parameters" element="tns:DFUArrayActionResponse" />
</message>
<message name="DFUBrowseDataSoapIn">
<part name="parameters" element="tns:DFUBrowseDataRequest" />
</message>
<message name="DFUBrowseDataSoapOut">
<part name="parameters" element="tns:DFUBrowseDataResponse" />
</message>
<message name="DFUDefFileSoapIn">
<part name="parameters" element="tns:DFUDefFileRequest" />
</message>
<message name="DFUDefFileSoapOut">
<part name="parameters" element="tns:DFUDefFileResponse" />
</message>
<message name="DFUFileAccessSoapIn">
<part name="parameters" element="tns:DFUFileAccessRequest" />
</message>
<message name="DFUFileAccessSoapOut">
<part name="parameters" element="tns:DFUFileAccessResponse" />
</message>
<message name="DFUFileAccessV2SoapIn">
<part name="parameters" element="tns:DFUFileAccessV2Request" />
</message>
<message name="DFUFileAccessV2SoapOut">
<part name="parameters" element="tns:DFUFileAccessResponse" />
</message>
<message name="DFUFileCreateSoapIn">
<part name="parameters" element="tns:DFUFileCreateRequest" />
</message>
<message name="DFUFileCreateSoapOut">
<part name="parameters" element="tns:DFUFileCreateResponse" />
</message>
<message name="DFUFileCreateV2SoapIn">
<part name="parameters" element="tns:DFUFileCreateV2Request" />
</message>
<message name="DFUFileCreateV2SoapOut">
<part name="parameters" element="tns:DFUFileCreateResponse" />
</message>
<message name="DFUFilePublishSoapIn">
<part name="parameters" element="tns:DFUFilePublishRequest" />
</message>
<message name="DFUFilePublishSoapOut">
<part name="parameters" element="tns:DFUFilePublishResponse" />
</message>
<message name="DFUFileViewSoapIn">
<part name="parameters" element="tns:DFUFileViewRequest" />
</message>
<message name="DFUFileViewSoapOut">
<part name="parameters" element="tns:DFUFileViewResponse" />
</message>
<message name="DFUGetDataColumnsSoapIn">
<part name="parameters" element="tns:DFUGetDataColumnsRequest" />
</message>
<message name="DFUGetDataColumnsSoapOut">
<part name="parameters" element="tns:DFUGetDataColumnsResponse" />
</message>
<message name="DFUGetFileMetaDataSoapIn">
<part name="parameters" element="tns:DFUGetFileMetaDataRequest" />
</message>
<message name="DFUGetFileMetaDataSoapOut">
<part name="parameters" element="tns:DFUGetFileMetaDataResponse" />
</message>
<message name="DFUInfoSoapIn">
<part name="parameters" element="tns:DFUInfoRequest" />
</message>
<message name="DFUInfoSoapOut">
<part name="parameters" element="tns:DFUInfoResponse" />
</message>
<message name="DFUQuerySoapIn">
<part name="parameters" element="tns:DFUQueryRequest" />
</message>
<message name="DFUQuerySoapOut">
<part name="parameters" element="tns:DFUQueryResponse" />
</message>
<message name="DFURecordTypeInfoSoapIn">
<part name="parameters" element="tns:DFURecordTypeInfoRequest" />
</message>
<message name="DFURecordTypeInfoSoapOut">
<part name="parameters" element="tns:DFURecordTypeInfoResponse" />
</message>
<message name="DFUSearchSoapIn">
<part name="parameters" element="tns:DFUSearchRequest" />
</message>
<message name="DFUSearchSoapOut">
<part name="parameters" element="tns:DFUSearchResponse" />
</message>
<message name="DFUSearchDataSoapIn">
<part name="parameters" element="tns:DFUSearchDataRequest" />
</message>
<message name="DFUSearchDataSoapOut">
<part name="parameters" element="tns:DFUSearchDataResponse" />
</message>
<message name="DFUSpaceSoapIn">
<part name="parameters" element="tns:DFUSpaceRequest" />
</message>
<message name="DFUSpaceSoapOut">
<part name="parameters" element="tns:DFUSpaceResponse" />
</message>
<message name="EclRecordTypeInfoSoapIn">
<part name="parameters" element="tns:EclRecordTypeInfoRequest" />
</message>
<message name="EclRecordTypeInfoSoapOut">
<part name="parameters" element="tns:EclRecordTypeInfoResponse" />
</message>
<message name="EraseHistorySoapIn">
<part name="parameters" element="tns:EraseHistoryRequest" />
</message>
<message name="EraseHistorySoapOut">
<part name="parameters" element="tns:EraseHistoryResponse" />
</message>
<message name="ListHistorySoapIn">
<part name="parameters" element="tns:ListHistoryRequest" />
</message>
<message name="ListHistorySoapOut">
<part name="parameters" element="tns:ListHistoryResponse" />
</message>
<message name="PingSoapIn">
<part name="parameters" element="tns:WsDfuPingRequest" />
</message>
<message name="PingSoapOut">
<part name="parameters" element="tns:WsDfuPingResponse" />
</message>
<message name="SavexmlSoapIn">
<part name="parameters" element="tns:SavexmlRequest" />
</message>
<message name="SavexmlSoapOut">
<part name="parameters" element="tns:SavexmlResponse" />
</message>
<message name="SuperfileActionSoapIn">
<part name="parameters" element="tns:SuperfileActionRequest" />
</message>
<message name="SuperfileActionSoapOut">
<part name="parameters" element="tns:SuperfileActionResponse" />
</message>
<message name="SuperfileListSoapIn">
<part name="parameters" element="tns:SuperfileListRequest" />
</message>
<message name="SuperfileListSoapOut">
<part name="parameters" element="tns:SuperfileListResponse" />
</message>
<message name="EspSoapFault">
<part name="parameters" element="tns:Exceptions" />
</message>
<portType name="WsDfuServiceSoap">
<operation name="Add">
<input message="tns:AddSoapIn" />
<output message="tns:AddSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="AddRemote">
<input message="tns:AddRemoteSoapIn" />
<output message="tns:AddRemoteSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="AddtoSuperfile">
<input message="tns:AddtoSuperfileSoapIn" />
<output message="tns:AddtoSuperfileSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUArrayAction">
<input message="tns:DFUArrayActionSoapIn" />
<output message="tns:DFUArrayActionSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUBrowseData">
<input message="tns:DFUBrowseDataSoapIn" />
<output message="tns:DFUBrowseDataSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUDefFile">
<input message="tns:DFUDefFileSoapIn" />
<output message="tns:DFUDefFileSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUFileAccess">
<input message="tns:DFUFileAccessSoapIn" />
<output message="tns:DFUFileAccessSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUFileAccessV2">
<input message="tns:DFUFileAccessV2SoapIn" />
<output message="tns:DFUFileAccessV2SoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUFileCreate">
<input message="tns:DFUFileCreateSoapIn" />
<output message="tns:DFUFileCreateSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUFileCreateV2">
<input message="tns:DFUFileCreateV2SoapIn" />
<output message="tns:DFUFileCreateV2SoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUFilePublish">
<input message="tns:DFUFilePublishSoapIn" />
<output message="tns:DFUFilePublishSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUFileView">
<input message="tns:DFUFileViewSoapIn" />
<output message="tns:DFUFileViewSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUGetDataColumns">
<input message="tns:DFUGetDataColumnsSoapIn" />
<output message="tns:DFUGetDataColumnsSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUGetFileMetaData">
<input message="tns:DFUGetFileMetaDataSoapIn" />
<output message="tns:DFUGetFileMetaDataSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUInfo">
<input message="tns:DFUInfoSoapIn" />
<output message="tns:DFUInfoSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUQuery">
<input message="tns:DFUQuerySoapIn" />
<output message="tns:DFUQuerySoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFURecordTypeInfo">
<input message="tns:DFURecordTypeInfoSoapIn" />
<output message="tns:DFURecordTypeInfoSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUSearch">
<input message="tns:DFUSearchSoapIn" />
<output message="tns:DFUSearchSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUSearchData">
<input message="tns:DFUSearchDataSoapIn" />
<output message="tns:DFUSearchDataSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="DFUSpace">
<input message="tns:DFUSpaceSoapIn" />
<output message="tns:DFUSpaceSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="EclRecordTypeInfo">
<input message="tns:EclRecordTypeInfoSoapIn" />
<output message="tns:EclRecordTypeInfoSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="EraseHistory">
<input message="tns:EraseHistorySoapIn" />
<output message="tns:EraseHistorySoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="ListHistory">
<input message="tns:ListHistorySoapIn" />
<output message="tns:ListHistorySoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="Ping">
<input message="tns:PingSoapIn" />
<output message="tns:PingSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="Savexml">
<input message="tns:SavexmlSoapIn" />
<output message="tns:SavexmlSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="SuperfileAction">
<input message="tns:SuperfileActionSoapIn" />
<output message="tns:SuperfileActionSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
<operation name="SuperfileList">
<input message="tns:SuperfileListSoapIn" />
<output message="tns:SuperfileListSoapOut" />
<fault name="excfault" message="tns:EspSoapFault" />
</operation>
</portType>
<binding name="WsDfuServiceSoap" type="tns:WsDfuServiceSoap">
<soap:binding
transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Add">
<soap:operation soapAction="WsDfu/Add?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="AddRemote">
<soap:operation soapAction="WsDfu/AddRemote?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="AddtoSuperfile">
<soap:operation
soapAction="WsDfu/AddtoSuperfile?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUArrayAction">
<soap:operation
soapAction="WsDfu/DFUArrayAction?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUBrowseData">
<soap:operation
soapAction="WsDfu/DFUBrowseData?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUDefFile">
<soap:operation
soapAction="WsDfu/DFUDefFile?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUFileAccess">
<soap:operation
soapAction="WsDfu/DFUFileAccess?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUFileAccessV2">
<soap:operation
soapAction="WsDfu/DFUFileAccessV2?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUFileCreate">
<soap:operation
soapAction="WsDfu/DFUFileCreate?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUFileCreateV2">
<soap:operation
soapAction="WsDfu/DFUFileCreateV2?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUFilePublish">
<soap:operation
soapAction="WsDfu/DFUFilePublish?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUFileView">
<soap:operation
soapAction="WsDfu/DFUFileView?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUGetDataColumns">
<soap:operation
soapAction="WsDfu/DFUGetDataColumns?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUGetFileMetaData">
<soap:operation
soapAction="WsDfu/DFUGetFileMetaData?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUInfo">
<soap:operation soapAction="WsDfu/DFUInfo?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUQuery">
<soap:operation soapAction="WsDfu/DFUQuery?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFURecordTypeInfo">
<soap:operation
soapAction="WsDfu/DFURecordTypeInfo?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUSearch">
<soap:operation soapAction="WsDfu/DFUSearch?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUSearchData">
<soap:operation
soapAction="WsDfu/DFUSearchData?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="DFUSpace">
<soap:operation soapAction="WsDfu/DFUSpace?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="EclRecordTypeInfo">
<soap:operation
soapAction="WsDfu/EclRecordTypeInfo?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="EraseHistory">
<soap:operation
soapAction="WsDfu/EraseHistory?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="ListHistory">
<soap:operation
soapAction="WsDfu/ListHistory?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="Ping">
<soap:operation soapAction="WsDfu/Ping?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="Savexml">
<soap:operation soapAction="WsDfu/Savexml?ver_=1.55"
style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="SuperfileAction">
<soap:operation
soapAction="WsDfu/SuperfileAction?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
<operation name="SuperfileList">
<soap:operation
soapAction="WsDfu/SuperfileList?ver_=1.55" style="document" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="excfault">
<soap:fault name="excfault" use="literal" />
</fault>
</operation>
</binding>
<service name="WsDfu">
<port name="WsDfuServiceSoap" binding="tns:WsDfuServiceSoap">
<soap:address
location="http://10.173.160.101:8010/WsDfu?ver_=1.55" />
</port>
</service>
</definitions>